html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

/* GitHub Octocat */
.github-corner {
    visibility: hidden;
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}

/* Header */
header {
    background-color: #e9ecef;
	padding: 60px 0;
}

header h1 {
    font-size: 3.2rem;
	text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.header-logo {
    width: 100px;
}

.header-button {
    margin-top: 24px;
}

/* Containers */
.primed {
	max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}

.content {
	width: 100%;
    border-left: 1px solid #ced4da;
}

section {
	padding-top: .1rem;
}

article {
	margin-bottom: 1.5rem;
}

.browser-container {
    margin: 0 5%;
}

img.browser-icon {
    width: 48px;
    margin-bottom: 1.5rem;
}

/* Prism */
code[class*="language-"],
pre[class*="language-"] {
    font-size: 16px;
    margin: 1rem 0;
}

/* Grid */
.grid-example {
    margin-bottom: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border: 2px solid #868e96;
}

/* Aside Navigation */
aside {
    padding: .5rem;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ced4da;
    flex: 0;
    position: fixed;
	top: 0;
	z-index: 2;
}

aside .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

aside .nav-logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    padding: 0 1rem;
}

aside .nav-logo img {
    width: 26px;
    margin-right: 10px;
}

aside .nav-logo a {
    display: block;
    color: #343a40;
    text-decoration: none;
}

aside .nav-logo a:hover,
aside .nav-logo a:active,
aside .nav-logo a:focus {
    color: #212529;
    text-decoration: none;
}

aside ul {
	margin: 0;
	padding: 0;
    list-style: none;
}

aside nav {
	display: none;
}

aside li.top {
	padding-top: 1.5rem;
}

aside li a {
	padding: .25rem .5rem;
	margin: 0 .5rem;
	display: block;
	color: #343a40;
	text-decoration: none;
}

aside li a:hover,
aside li a:focus {
	background: #e9ecef;
	color: #212529;
	text-decoration: none;
}

aside li a.active {
    background: #e9ecef;
    color: #d62828;
	text-decoration: none;
}

aside li a.active:hover,
aside li a.active:active,
aside li a.active:focus {
	background: #e9ecef;
	color: #d62828;
	text-decoration: none;
}

.fa {
	color: #343a40;
	padding-right: 1rem;
}

.active .fa {
	color: #d62828;
}

.toggle-nav {
    padding-right: 1rem;
    cursor: pointer;
}

.toggle-nav::after {
	content: "\f0c9";
	font-family: 'FontAwesome';
	font-size: 2rem;
	color: #343a40;
}

.toggle-nav.active::after {
	content: "\f00d";
	font-family: 'FontAwesome';
}

.fixed {
	position: fixed;
    top: 0;
}

.no-size {
    height: 0;
    width: 0;
}

.footer {
	padding: 3rem 0;
}

.footer hr {
    margin-top: 0px;
    margin-bottom: 3rem;
}

.footer svg {
    height: 24px;
    width: 16px;
}

/* Tablet Styles */
@media screen and (min-width: 576px) {
    .browser-container {
        margin: 0 15%;
    }

    img.browser-icon {
        width: 64px;
        margin-bottom: 1.5rem;
    }
}

/* Desktop Styles */
@media screen and (min-width: 992px) {
    .github-corner {
        fill: #d62828;
        color: #e9ecef;
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
        z-index: 10;
        opacity: 1;
        visibility: visible;
    }
    
    .github-corner:hover,
    .github-corner:active,
    .github-corner:focus {
        color: #e9ecef;
        opacity: 1;
    }
    
    .github-corner:hover .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }

    .primed {
        margin-top: 60px;
    }

    header {
        padding-top: 90px;
    }

    header h1 {
        font-size: 4.2rem;
    }

    .header-logo {
        width: 140px;
    }
    
    aside {
		display: block;
        flex: 0 0 240px;
        width: 240px;
        border-bottom: 0;
        margin-top: 1.5rem;
		position: static;
    }

    aside nav {
		display: block !important;
    }

    .toggle-nav {
		display: none;
    }
    
	.content {
		flex: 4;
		max-width: calc(100% - 240px);
		padding: 0 2rem;
    }
    
	article {
		margin-bottom: 3rem;
    }
    
    code[class*="language-"],
    pre[class*="language-"] {
        font-size: 18px;
    }

    .margin {
		margin-left: 240px;
    }
    
    .footer svg {
        height: 28px;
        width: 20px;
    }
}