/*==============================================================================
  Button Styles
==============================================================================*/

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    align-content: center;
    align-items: center;
    background-color: $button-default;
    border: $borders-transparent;
    border-radius: $border-radius;
    box-sizing: border-box;
    color: $button-default-font;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    line-height: 1;
    margin-bottom: $margins;
    max-width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    user-select: none;
    width: auto;
    vertical-align: middle;
    appearance: none;

    &::-moz-focus-inner {
        border: 0;
    }

    &:link,
    &:visited,
    &:active {
        background-color: $button-default;
        color: $button-default-font;
        font-weight: normal;
    }

    @include hover-focus {
        background-color: $button-default-hover;
        border-color: $button-default-hover;
        color: $button-default-font;
        outline: 0;
        text-decoration: none;
        transition-duration: 250ms;
        transition-property: all;
    }

    &[disabled] {
        cursor: default;
        opacity: 0.5;
        pointer-events: none;

        @include hover-focus {
			background-color: $button-default;
            color: $button-default-font;
        }
    }

    &.button-outlined {
        background-color: transparent;
        border-color: $button-default;
        color: $button-default;

        @include hover-focus {
            background-color: $button-default-hover;
            border-color: $button-default-hover;
            color: $button-default-font;
            transition-duration: 250ms;
            transition-property: all;
        }

        &[disabled] {
            @include hover-focus {
                background-color: transparent;
                border-color: $button-default;
                color: $button-default;
            }
        }
    }

    &.button-secondary {
        background-color: $button-secondary;
        border-color: $button-secondary;
        color: $button-secondary-font;

        @include hover-focus {
            background-color: $button-secondary-hover;
            border-color: $button-secondary-hover;
            transition-duration: 250ms;
            transition-property: all;
        }

        &[disabled] {
            @include hover-focus {
                background-color: $button-secondary;
                border-color: $button-secondary;
                color: $button-secondary-font;
            }
        }

        &.button-outlined {
            background-color: transparent;
            border-color: $button-secondary;
            color: $button-secondary;
    
            @include hover-focus {
                background-color: $button-secondary-hover;
                border-color: $button-secondary-hover;
                color: $button-secondary-font;
                transition-duration: 250ms;
                transition-property: all;
            }
            
            &[disabled] {
                @include hover-focus {
                    background-color: transparent;
                    border-color: $button-secondary;
                    color: $button-secondary;
                }
            }
        }
    }

    &.button-block {
        display: block;
        width: 100%;
    }
}